<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <meta charset="utf-8">
</head>
<body>
  {{> header}}

  <p>Some text to fill about th thing out.</p>
  <p>{{loud 'hello there'}}</p>

  {{> footer}}  
<body>
</html>